body {
    background-color : #000;
    font-family: "Times New Roman", serif;
    color: aliceblue;
}
ul{
    color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}